[cetus]
# For mode-switch
daemon = true

# Loaded Plugins
plugins=proxy,admin

# Defines the number of worker processes. 
worker-processes=1

# Proxy Configuration, For example: MySQL master and salve host ip are both 192.0.0.1
proxy-address=0.0.0.0:6001
proxy-backend-addresses=192.0.0.1:3306
proxy-read-only-backend-addresses=192.0.0.1:3307

# Admin Configuration
admin-address=0.0.0.0:7001
admin-username=admin
admin-password=admin

# Backend Configuration, use test db and username created
default-db=testdb
default-username=cetus_app
default-pool-size=100
max-resp-size=10485760
long-query-time=100

# File and Log Configuration, put log in /data and marked by proxy port, /data/cetus needs to be created manually and has rw authority for cetus os user
max-open-files = 65536
pid-file = cetus6001.pid
plugin-dir=lib/cetus/plugins
log-file=/data/cetus/cetus_6001.log
log-level=debug

# Check salve delay
disable-threads=false
check-slave-delay=true
slave-delay-down=5
slave-delay-recover=1

# For trouble
keepalive=true
verbose-shutdown=true
log-backtrace-on-crash=true

# For performance
enable-tcp-stream=true
enable-fast-stream=true

# For MGR
group-replication-mode=0
