[cetus]
# For mode
daemon=true

# Loaded Plugins
plugins=shard,admin

# Defines the number of worker processes. 
worker-processes=1

# Proxy Configuration, For eaxmlpe: MySQL master host ip is 192.0.0.1 and salve host ip is 192.0.0.2
proxy-address=0.0.0.0:6001
proxy-backend-addresses=192.0.0.1:3306@data1,192.0.0.1:3307@data2,192.0.0.1:3308@data3,192.0.0.1:3309@data4
proxy-read-only-backend-addresses=192.0.0.2:3306@data1,192.0.0.2:3307@data2,192.0.0.2:3308@data3,192.0.0.2:3309@data4

# Admin Configuration
admin-address=0.0.0.0:7001
admin-username=admin
admin-password=admin

# Backend Configuration, use test db and username created
default-db=testdb
default-username=cetus_app
default-pool-size=100
max-pool-size=400
max-resp-=10485760
long-query-time=100

# Log Configuration, put log in /data and marked by proxy port , /data/cetus needs to be created manually and has rw authority for cetus os user
plugin-dir=lib/cetus/plugins
max-open-files=65536
pid-file=cetus6001.pid
log-xa-file = /data/cetus/logs6001/xa.log
log-file=/data/cetus/cetus_6001.log
log-level=debug

# Check salve delay
disable-threads=false
check-slave-delay=true
slave-delay-down=5
slave-delay-recover=1

# For trouble
keepalive=true
verbose-shutdown=true
log-backtrace-on-crash=true

# For performance
enable-tcp-stream=false
enable-fast-stream=false

#For MGR
group-replication-mode=0
